<form autocomplete='off' class='main-grid'>
  <header class='text-center'>
    <h2>
      <i class='fa-solid fa-shield-quartered'></i>
      <strong>A</strong>ctive
      <strong>E</strong>ffect
      <strong>G</strong>uided
      <strong>I</strong>mplementation
      <strong>S</strong>ystem
    </h2>
  </header>
  <section class='effect-basics'>
    <img src='{{effect.icon}}' alt='{{effect.name}}' class='icon' />
    <div class='form-group name'>
      <label>{{localize 'EFFECT.Name'}}</label>
      <span class='form-fields'>
        <input type='text' name='name' value='{{effect.name}}' />
      </span>
    </div>
    <div class='form-group icon-path'>
      <label>{{localize 'EFFECT.Icon'}}</label>
      <span class='form-fields'>
        <input type='text' name='icon' value='{{effect.icon}}' />
        {{filePicker type='image' target='icon'}}
      </span>
    </div>
    <div class='form-group turns'>
      <label>{{localize 'COMBAT.Rounds'}}</label>
      <span class='form-fields'>
        <input
          type='number'
          name='duration.rounds'
          value='{{effect.duration.rounds}}'
          data-dtype='Number'
        />
      </span>
    </div>
    <div class='form-group behavior'>
      <label>{{localize 'SWADE.Expiration.Behavior'}}</label>
      <span class='form-fields'>
        <select name='flags.swade.expiration' data-dtype='Number'>
          {{selectOptions
            expirationOptions
            localize=true
            selected=effect.flags.swade.expiration
            blank='SWADE.Expiration.None'
          }}
        </select>
      </span>
    </div>
  </section>
  <section class='preview'>
    <h2>{{localize 'SWADE.EffectWizard.Preview'}}</h2>
    <div class='changes'>
      <header class='change header text-center'>
        <span class='label'>{{localize 'SWADE.EffectWizard.Change'}}</span>
        <span class='mode'>{{localize 'SWADE.EffectWizard.Mode'}}</span>
        <span class='value'>{{localize 'SWADE.EffectWizard.Value'}}</span>
        <span></span>
      </header>
      <ol class='changes-list unmarked-list'>
        {{#each changes}}
          <li data-index='{{@index}}' class='change'>
            <span class='label'>{{label}}</span>
            <select class='mode'>
              {{#select this.mode}}
                {{selectOptions
                  @root.changeModes
                  selected=this.mode
                  localize=true
                }}
              {{/select}}
            </select>
            <input type='text' class='value' value='{{this.value}}' />
            <span class='change-controls'>
              <button type='button' class='delete-change'>
                <i class='fa-solid fa-trash'></i>
              </button>
            </span>
          </li>
        {{/each}}
      </ol>
    </div>
  </section>
  <section class='presets'>
    <h2>{{localize 'SWADE.EffectWizard.Changes'}}</h2>
    <details
      data-category='attribute'
      {{collapsible collapsibleStates 'attribute'}}
    >
      <summary>{{localize 'SWADE.Attributes'}}</summary>
      <span class='content'>
        <div class='form-group'>
          <label>{{localize 'SWADE.EffectWizard.SelectAttribute'}}</label>
          <span class='form-fields'>
            <select class='target'>
              <option value='agility'>{{localize 'SWADE.AttrAgi'}}</option>
              <option value='smarts'>{{localize 'SWADE.AttrSma'}}</option>
              <option value='spirit'>{{localize 'SWADE.AttrSpr'}}</option>
              <option value='strength'>{{localize 'SWADE.AttrStr'}}</option>
              <option value='vigor'>{{localize 'SWADE.AttrVig'}}</option>
            </select>
          </span>
        </div>
        <div class='flexrow button-list'>
          <button type='button' data-key='die.sides'>
            {{localize 'SWADE.DieSides'}}
          </button>
          <button type='button' data-key='wild-die.sides'>
            {{localize 'SWADE.WildDieSides'}}
          </button>
          <button type='button' data-key='die.modifier'>
            {{localize 'SWADE.Modifier'}}
          </button>
        </div>
      </span>
    </details>
    <details data-category='skill' {{collapsible collapsibleStates 'skill'}}>
      <summary>{{localize 'SWADE.Skills'}}</summary>
      <span class='content'>
        <div class='form-group'>
          <label>{{localize 'SWADE.EffectWizard.EnterSkill.Label'}}</label>
          <span class='form-fields'>
            <input type='text' class='target' list='{{object.id}}-skills' />
          </span>
          <p class='hint'>{{localize 'SWADE.EffectWizard.EnterSkill.Hint'}}</p>
        </div>
        <div class='flexrow button-list'>
          <button type='button' data-key='die.sides'>
            {{localize 'SWADE.DieSides'}}
          </button>
          <button type='button' data-key='wild-die.sides'>
            {{localize 'SWADE.WildDieSides'}}
          </button>
          <button type='button' data-key='die.modifier'>
            {{localize 'SWADE.Modifier'}}
          </button>
        </div>
      </span>
    </details>
    <details
      data-category='derived'
      {{collapsible collapsibleStates 'derived'}}
    >
      <summary>{{localize 'SWADE.Derived'}}</summary>
      <span class='content'>
        <ul class='unmarked-list other-presets'>
          {{#each derivedPresets}}
            <li>
              <button type='button' data-key='{{key}}'>
                {{label}}
              </button>
            </li>
          {{/each}}
        </ul>
      </span>
    </details>
    <details
      data-category='globalMod'
      {{collapsible collapsibleStates 'globalMod'}}
    >
      <summary>{{localize 'SWADE.GlobalMod.Label'}}</summary>
      <span class='content'>
        <ul class='unmarked-list other-presets'>
          {{#each globalModPresets}}
            <li>
              <button type='button' data-key='{{key}}'>
                {{label}}
              </button>
            </li>
          {{/each}}
        </ul>
      </span>
    </details>
    <details data-category='other' {{collapsible collapsibleStates 'other'}}>
      <summary>{{localize 'SWADE.OtherStats'}}</summary>
      <span class='content'>
        <ul class='unmarked-list other-presets'>
          {{#each otherPresets}}
            <li>
              <button type='button' data-key='{{key}}'>
                {{label}}
              </button>
            </li>
          {{/each}}
        </ul>
      </span>
    </details>
  </section>
  <footer>
    <button type='button' class='submit'>
      <i class='fa-solid fa-arrow-down-to-line'></i>
      {{localize 'SWADE.ActiveEffects.Add'}}
    </button>
  </footer>
</form>
<datalist id='{{object.id}}-skills'>
  {{#each skillSuggestions}}
    <option value='{{this}}'></option>
  {{/each}}
</datalist>