<section class='toc'>
  <h1 class='header title top-row'>{{header}}</h1>
  <div class='header search top-row'>
    <a
      class='toggle-search-mode'
      data-tooltip='{{localize searchMode.tooltip}}'
    >
      <i class='fas {{searchMode.icon}}'></i>
    </a>
    <input
      type='search'
      name='search'
      placeholder='{{localize "Search"}}'
      autocomplete='off'
    />
    {{#unless isJournal}}
      {{#if canCreateEntry}}
        <a
          class='createDocument'
          data-tooltip='{{localize "SIDEBAR.Create" type=label}}'
        ><i class='fa-solid fa-plus'></i></a>
      {{/if}}
    {{/unless}}
  </div>
  <div class='disclaimer'>{{disclaimer}}</div>
  <section class='content'>
    {{#if isJournal}}
      {{#each entries}}
        <section class='journal' data-document-id='{{id}}'>
          <header data-document-id='{{id}}'>
            <h3 class='journal-heading'><a>{{name}}</a></h3>
          </header>
          <ol class='unmarked-list pages'>
            {{#each pages}}
              <li class='page' data-page-id='{{id}}'>
                <a class='name'>{{name}}</a>
              </li>
            {{/each}}
          </ol>
        </section>
      {{/each}}
    {{else}}
      {{#each categories}}
        <section class='category'>
          {{#if category}}<h2 class='category-header'>{{category}}</h2>{{/if}}
          <ol class='categories unmarked-list'>
            {{#each entries}}
              <li class='toc-entry flexrow' data-document-id='{{id}}'>
                {{#if @root.isActor}}
                  <img
                    class='thumbnail'
                    src='{{img.path}}'
                    style='scale: {{img.scale}};'
                    alt='{{name}}'
                    loading='lazy'
                  />
                {{else}}
                  <img
                    class='thumbnail'
                    src='{{img}}'
                    alt='{{name}}'
                    loading='lazy'
                  />
                {{/if}}
                {{#if isWildcard}}
                  <img
                    class='wildcard'
                    src='{{@root.wildCardMarker}}'
                    alt='{{localize "SWADE.WildCard"}}'
                  />
                {{/if}}
                <a class='name'>{{name}}</a>
              </li>
            {{/each}}
          </ol>
          {{#each groups}}
            {{#if group}}<h3 class='group-header'>{{group}}</h3>{{/if}}
            <ol class='categories unmarked-list'>
              {{#each entries}}
                <li class='toc-entry flexrow' data-document-id='{{id}}'>
                  <img
                    class='thumbnail'
                    src='{{img}}'
                    alt='{{name}}'
                    loading='lazy'
                  />
                  <a class='name'>{{name}}</a>
                </li>
              {{/each}}
            </ol>
          {{/each}}
        </section>
      {{/each}}
    {{/if}}
  </section>
</section>