<div class='swade-roll'>
  <div class='dice-roll damage-roll'>
    {{#if flavor}}<div class='dice-flavor'>{{flavor}}</div>{{/if}}
    <div class='dice-result'>
      <div class='dice-formula'>
        {{#if isPrivate}}???{{else}}
          <ol class='formula-list'>
            {{#each formulaParts}}
              {{#if die}}
                <li
                  class='die'
                  style='background-image: url({{img}});'
                  data-tooltip='{{hint}}'
                >
                  <label class='{{class}}'>{{this.result}}</label>
                </li>
              {{else}}
                <li data-tooltip='{{hint}}'>{{result}}</li>
              {{/if}}
            {{/each}}
          </ol>
        {{/if}}
      </div>
      {{#unless isPrivate}}{{{tooltip}}}{{/unless}}
      {{#if displayResult}}
        {{#if isPrivate}}
          <div class='dice-total'>???</div>
        {{else}}
          <div class='dice-flavor'>{{localize 'SWADE.Rolls.RollResult'}}</div>
          <div class='dice-total'>{{total}}</div>
        {{/if}}
      {{/if}}
    </div>
  </div>
</div>