<form autocomplete="off">
  <ul class="card-dialog">
    {{#each data.cards as |card|}}
    <li class="card">
      <label for="{{card.id}}">
        <input
          type="radio"
          name="card"
          id="{{card.id}}"
          data-card-id="{{card.id}}"
        />
        <figure{{#if (eq card.id ../data.highestCardID)}} class="high-card"{{/if}}>
        <div class="indicator"><i class="fas fa-star"></i></div>
          <img src="{{card.currentFace.img}}" />
          <figcaption>
            {{card.name}} {{#if (eq card.id ../data.oldCard)}}<br />({{localize
            "SWADE.OldCard"}}){{/if}}
          </figcaption>
        </figure>
      </label>
    </li>
    {{/each}}
  </ul>
</form>
