.compendium-toc {
  --heading-font: 'Anton', 'Signika', sans-serif;

  .toc {
    height: 100%;
    display: grid;
    grid-template-rows: 3rem max-content 1fr;
    grid-template-columns: repeat(12, minmax(0, 1fr));

    .disclaimer {
      grid-column: 1/-1;
    }

    .header {
      text-align: center;
      font-family: var(--heading-font);
      color: $header-text;
    }
    .title {
      grid-row: 1;
      grid-column: 1/-1;
    }

    .search {
      &.top-row {
        grid-row: 1;
        grid-column: 9/-1;
        display: flex;
        justify-content: space-between;

        input {
          width: calc(100% - 20px);
        }
      }
      &.second-row {
        grid-row: 2;
        grid-column: 1/-1;
      }
      .toggle-search-mode,
      .createDocument {
        font-size: large;
        padding: 0 0.25rem;
      }
    }

    .content {
      column-rule: 4px double var(--accent-color-secondary);
      margin-bottom: 1rem;
      grid-column: 1/-1;
      grid-row: 3;
      height: 100%;
    }

    .category-header {
      break-after: avoid-column;
    }

    .category + .category {
      .category-header {
        margin-top: 0.5rem;
      }
    }
    .group-header,
    .category-header:not(:first-of-type) {
      margin-top: 0.5rem;
    }

    .journal {
      .journal-heading {
        font-family: var(--heading-font);
        border-bottom: 2px solid black;
      }
    }

    .categories {
      padding: 0;
      margin: 0;
    }

    .pages,
    .toc-entry {
      padding: 0 0 0 1rem;
    }

    .toc-entry {
      line-height: var(--sidebar-item-height);
      margin-bottom: 0.5rem;
      .name {
        line-height: var(--sidebar-item-height);
        white-space: nowrap;
        overflow: hidden;
        text-decoration: underline;
        text-decoration-color: $header-text;
      }
      .wildcard {
        flex: 0 0 calc(var(--sidebar-item-height) / 2);
        height: calc(var(--sidebar-item-height) / 2);
        width: calc(var(--sidebar-item-height) / 2);
        object-fit: cover;
        object-position: 50% 0;
        border: none;
        border-radius: 0;
        align-self: center;
      }
      .thumbnail {
        margin: 0 8px 0 0;
        flex: 0 0 var(--sidebar-item-height);
        height: var(--sidebar-item-height);
        width: var(--sidebar-item-height);
        object-fit: cover;
        object-position: 50% 0;
        border: none;
        border-radius: 0;
      }
    }
  }
}
