<div
  class='swade chat-card item-card'
  data-actor-id='{{item.actor.id}}'
  data-item-id='{{item.id}}'
  data-token-id='{{tokenId}}'
>
  <div class='chips'>
    {{#if (eq item.type 'armor')}}
      <span class="chip">
        <span class='bold'><i class="fa-sharp fa-solid fa-shield-halved"></i> {{localize 'SWADE.Armor'}}:</span>
        {{item.system.armor}}
      </span>
    {{/if}}
    {{#if (and (eq item.type 'weapon') item.system.range)}}
      <span class="chip">
          <span class='bold'><i class="fa-solid fa-ruler-combined"></i> {{localize "SWADE.Range._name"}}:</span>
          {{item.system.range}}
        </span>
    {{/if}}
    {{#if (and (eq item.type 'weapon') (gt item.system.ap '0'))}}
      <span class="chip">
        <span class='bold'><i class="fa-solid fa-shield-halved"></i> {{localize "SWADE.Ap"}}:</span>
        {{item.system.ap}}
      </span>
    {{/if}}
    {{#if (eq item.type 'shield')}}
      <span class="chip">
        <span class='bold'><i class="fa-solid fa-shield-halved"></i> {{localize 'SWADE.Parry'}}:</span>
        {{item.system.parry}}
      </span>
    {{/if}}
    {{#if item.system.notes}}
      <span class="chip">
        <span class='bold'><i class="fa-solid fa-note-sticky"></i> {{localize 'SWADE.Notes'}}:</span>
        {{item.system.notes}}
      </span>
    {{/if}}
  </div>

  {{#if hasAmmoManagement}}
    <div class='ammo-counter'>
      <span class='bold'><i class="fa-solid fa-circle-dot"></i> {{localize 'SWADE.Mag'}}:</span>
      <span class='current-shots'>{{item.system.currentShots}}</span>&nbsp;/&nbsp;
      <span class='max-shots'>{{item.system.shots}}</span>
      {{#if item.system.ammo}}&nbsp;- &nbsp;{{item.system.ammo}}{{/if}}
    </div>
  {{/if}}

  <div class='card-buttons'>
    {{#if hasReloadButton}}
      <button class='card-button' data-action='reload'>
        {{localize 'SWADE.Reload'}}
      </button>
    {{/if}}
  </div>

  {{#if (eq item.type 'power')}}
    {{#unless (or powersTab @root.settingrules.noPowerPoints)}}
      <div class='pp-counter'>
        <span class='bold'>
          {{#if item.system.arcane}}
            {{item.system.arcane}}
          {{/if}}
          {{localize 'SWADE.PP'}}:
        </span>
        {{#if item.system.arcane}}
          {{#with item as | power |}}
              {{#each @root.actor.system.powerPoints as |ab|}}
                {{#if (eq @key power.system.arcane)}}
                <span class='current-pp'>{{ab.value}}</span>
                &nbsp;/&nbsp;
                <span class='max-pp'>{{ab.max}}</span>
                {{/if}}
              {{/each}}
          {{/with}}
        {{else}}
          <span class='current-pp'>
            {{@root.actor.system.powerPoints.general.value}}
          </span>
          &nbsp;/&nbsp;
          <span class='max-pp'>
            {{@root.actor.system.powerPoints.general.max}}
          </span>
        {{/if}}
      </div>
    {{/unless}}
  {{/if}}

  {{#if item.system.isArcaneDevice}}
    <div class='pp-counter'>
      <p>
        <span class='bold'>{{localize 'SWADE.ArcaneDevice'}}
          {{localize 'SWADE.PP'}}:</span>
        <span
          class='current-pp'
        >{{item.system.powerPoints.value}}</span>&nbsp;/&nbsp;<span
          class='max-pp'
        >{{item.system.powerPoints.max}}</span>
      </p>
    </div>
  {{/if}}

  <div class='card-buttons'>
    {{#if (eq item.type 'power')}}
      <span class='flexcol'>
        <span class='flexrow' style='display: flex'>
          <label>
            <strong>{{localize 'SWADE.PPCost'}}: </strong>
          </label>
          <input
            type='number'
            class='pp-adjust'
            value='{{item.system.pp}}'
          />
        </span>
        {{#unless (or powersTab @root.settingrules.noPowerPoints)}}
          <span class='flexrow' style='display: flex'>
            <button
              class='card-button'
              data-action='pp-adjust'
              data-adjust='plus'
              title='{{localize "SWADE.AddPPDesc"}}'
            >
              &plus;
              {{localize 'SWADE.Add'}}
            </button>
            <button
              class='card-button'
              data-action='pp-adjust'
              data-adjust='minus'
              title='{{localize "SWADE.SubtractPPDesc"}}'
            >
              &minus;
              {{localize 'SWADE.Subtract'}}
            </button>
          </span>
        {{/unless}}
      </span>
    {{/if}}

    {{#if item.isArcaneDevice}}
      <span class='flexcol'>
        <span class='flexrow' style='display: flex'>
          <label>
            <strong>{{localize 'SWADE.PPCost'}}: </strong>
          </label>
          <input type='number' class='arcane-device-pp-adjust' value='1' />
        </span>

        {{#unless @root.settingrules.noPowerPoints}}
          <span class='flexrow' style='display: flex'>
            <button
              class='card-button'
              data-action='arcane-device-pp-adjust'
              data-adjust='plus'
              title='{{localize "SWADE.AddPPDesc"}}'
            >
              &plus;
              {{localize 'SWADE.Add'}}
            </button>
            <button
              class='card-button'
              data-action='arcane-device-pp-adjust'
              data-adjust='minus'
              title='{{localize "SWADE.SubtractPPDesc"}}'
            >
              &minus;
              {{localize 'SWADE.Subtract'}}
            </button>
          </span>
        {{/unless}}

      </span>
    {{/if}}

    {{#unless powersTab}}
      {{#if (or hasTraitRoll item.isArcaneDevice)}}
        <h4 class='actions-subheading'>
          <i class="fa-solid fa-bullseye"></i>
          {{localize 'SWADE.TraitRolls'}}
        </h4>
      {{/if}}
    {{/unless}}

    {{#if (and hasTraitRoll system.actions.trait)}}
      <button class='card-button' data-action='formula'>
        {{#if powersTab}}<i class="fa-solid fa-hand-sparkles"></i> {{/if}}{{system.actions.trait}}
      </button>
    {{/if}}

    {{#each actions as |action|}}
      {{#if (eq action.type 'trait')}}
        <button class='card-button' data-action='{{action.key}}'>
          {{#if ../powersTab}}<i class="fa-solid fa-hand-sparkles"></i> {{/if}}{{action.name}}
        </button>
      {{/if}}
    {{/each}}

    {{#if item.isArcaneDevice}}
      <button class='card-button' data-action='arcane-device'>
        {{localize 'SWADE.ActivateArcaneDevice'}}
      </button>
    {{/if}}

    {{#unless powersTab}}
      {{#if hasDamage}}
        <h4 class='actions-subheading'>
          <i class="fa-solid fa-droplet"></i>
          {{localize 'SWADE.DmgRolls'}}
        </h4>
      {{/if}}
    {{/unless}}

    {{#if item.system.damage}}
      <button class='card-button' data-action='damage'>
        {{#if powersTab}}<i class='fa-solid fa-droplet'></i>
        {{/if}}{{item.system.damage}}
      </button>
    {{/if}}

    {{#each actions as |action|}}
      {{#if (eq action.type 'damage')}}
        <button class='card-button' data-action='{{action.key}}'>
          {{#if ../powersTab}}<i class='fa-solid fa-droplet'></i> {{/if}}{{action.name}}
        </button>
      {{/if}}
    {{/each}}

  
    {{#unless powersTab}}
      {{#if hasMacros}}
        <h4 class='actions-subheading'>
          <i class="fa-solid fa-code"></i>
          {{localize 'DOCUMENT.Macros'}}
        </h4>
      {{/if}}
    {{/unless}}

    {{#each actions as |action|}}
      {{#if (eq action.type 'macro')}}
        <button class='card-button' data-action='{{key}}'>
          {{#if ../powersTab}}<i class='fa-solid fa-code'></i> {{/if}}{{action.name}}
        </button>
      {{/if}}
    {{/each}}

  <!-- Template Controls -->
  {{#if item.system.templates}}
    <div class='card-buttons templates'>
      <h4 class='actions-subheading'>
        <i class='fa-solid fa-bullseye'></i>
        {{localize 'SWADE.Templates.Available'}}
      </h4>
      <span class='flexrow'>
        {{#if item.system.templates.cone}}
          <button
            type='button'
            class='card-button'
            data-action='template'
            data-template='swcone'
          >{{localize 'SWADE.Templates.Cone.Short'}}</button>
        {{/if}}
        {{#if item.system.templates.stream}}
          <button
            type='button'
            class='card-button'
            data-action='template'
            data-template='stream'
          >{{localize 'SWADE.Templates.Stream.Short'}}</button>
        {{/if}}
        {{#if item.system.templates.small}}
          <button
            type='button'
            class='card-button'
            data-action='template'
            data-template='sbt'
          >{{localize 'SWADE.Templates.Small.Short'}}</button>
        {{/if}}
        {{#if item.system.templates.medium}}
          <button
            type='button'
            class='card-button'
            data-action='template'
            data-template='mbt'
          >{{localize 'SWADE.Templates.Medium.Short'}}</button>
        {{/if}}
        {{#if item.system.templates.large}}
          <button
            type='button'
            class='card-button'
            data-action='template'
            data-template='lbt'
          >{{localize 'SWADE.Templates.Large.Short'}}</button>
        {{/if}}
      </span>
    </div>
  {{/if}}

  </div>
</div>